
.aa {
  padding-top: 150px;
  text-align: center;
  color: black;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 20px;
    text-align: center;
}

.rule {
  height: 4px;
  width: 80px;
  background: linear-gradient(90deg, black 33%, #e3ac16 33% 66%, red 66%);
  margin: .5rem auto 1.5rem;
  border-radius: 2px;
}

table{
    width:80%;
    border-collapse: collapse;
    border-spacing:0 8px;
    margin: 20px auto;
     border: solid 1px black;
}

thead{
    background-color:black;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    color:goldenrod;
    font-weight: 600;
  
}

tbody{
  padding:15px;
  text-align: center;
  color:black;
  
}
td,th{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

tbody tr:nth-child(even) td{
  background-color: rgb(117, 116, 116);
}
tbody tr:nth-child(odd) td {
  background-color: white;
}

.box{
  width:100%;
  height: 500px;
  border-radius:10px;
  opacity:0.8;
  background-image: url('../images/evoting.jpg');
  background-size: cover;
  background-position:center;
  position: relative;
}

.box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-image: var(--next-bg);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.box.fade::before {
  opacity: 1;
}

